@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  body {
    height: 100%;
  }
  .nav-item {
    @apply capitalize px-2 sm:px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }
  .nav-item-active {
    @apply bg-white text-gray-900;
  }
  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/10;
  }

  h1,
  span,
  p {
    @appy font-sans;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }

  .logos {
    @apply relative overflow-hidden my-8 sm:my-16 flex items-center bg-transparent justify-center flex-row flex-nowrap gap-0;
  }

  .logos-slide {
    @apply flex items-center justify-center flex-row flex-nowrap min-w-max;
    animation: 45s slide infinite linear;
  }

  /* logos carousel */
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.satelite {
  animation: girar 30s linear infinite forwards;
}
@keyframes girar {
  0% {
    transform: rotate(0deg) translateX(50px);
  }
  25% {
    transform: rotate(90deg) translateX(50px);
  }
  50% {
    transform: rotate(180deg) translateX(50px);
  }
  75% {
    transform: rotate(270deg) translateX(50px);
  }
  100% {
    transform: rotate(360deg) translateX(50px);
  }
}
